Flask==3.1.2
flask_cors==6.0.2
protobuf==6.33.4
pydantic==2.12.5
python-dotenv==1.2.1
pipreqs==0.4.13
easyocr==1.7.2
moviepy==2.2.1
openai-whisper==20250625
TikTokApi==7.2.1
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
yt-dlp==2025.12.8